<div>
  <strong><%= @list.name %></strong> <%= link_to 'add a bookmark', new_list_bookmark_path(@list)%>
</div>
<div>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
        <li><%= bookmark.movie.title %></li>
        <li><%= bookmark.comment %></li>
            <%= link_to "Delete",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>
  </ul>
</div>
  <div>

  </div>
<div>
  <%= link_to "Back to list of lists", lists_path %>
</div>
